/*body, html {
    height: 100%;
  }
  .bg {
    /* The image used */
  /*  background-image: url("assets/images/cocktail-high-definition_112543584_80.jpg");
  
    /* Full height */
    /*height: 500px;
  
    /* Center and scale the image nicely */
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }*/

  body {
    margin: 0;
    padding: 0;
    background-image: url(/assets/images/full-moon-cocktail-background.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    font-family: Tahoma, sans-serif;
  }
  .form-area{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 400px;
      height: 600px;
      box-sizing: border-box;
      background: rgba(0,0,0,0.5);
      padding: 40px;
  }
  h3{
      margin: 0;
      padding: 0 0 20px;
      font-weight: bold;
      color: #ffffff;
  }
  .form-area p{
      margin: 0;
      padding: 0;
      font-weight: bold;
      color: #ffffff;
  }
  .form-area input,select{
      margin-bottom: 20px;
      width: 100%;
  }
  .form-area input[type=text],
  .form-area input[type=password]{
      border: none;
      border-bottom: 1px solid #ffffff;
      background-color: transparent;
      outline: none;
      height: 40px;
      color: #ffffff;
      display: 16px;
  }
::placeholder{
    color: #ffffff;

}
.form-area select{
    margin-top: 20px;
    padding: 10px 0;

}
.form-area input[type=submit]{
    border: none;
    height: 20px;
    outline: none;
    color: #ffffff;
    font-size: 15px;
    background-color: tomato;
    cursor: pointer;
    border-radius: 20px;
}
.form-area input[type=submit]:hover{
    background-color: cyan;
    color: #ffffff;
    }
    .form-area a{
        color: #ffffff;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
    }